<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>On the curve window press the mouse right click, browse the menu to "<code>Add Data Set -&gt; gSiO<span class="math inline"><sub>2</sub></span> -&gt; g(r) neutrons</code>" to add the corresponding data set to the representation:<br />
</p>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/add_data.png" style="height:6cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/final.png" style="height:7cm" alt="image" /></td>
</tr>
</tbody>
</table>
<p><br />
Note that projects opened in <span><strong>atomes</strong></span> share data. Therefore calculation results, from any model in the workspace and provided that the calculations have been performed, can be compared easily. In this example it allows to compare the g(r) for the <span class="math inline">\(g\)</span>-SiO<span class="math inline"><sub>2</sub></span> system with a partial contribution from the atoms involved in King’s rings of size 6.<br />
