<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>Go back to the 3D window, and mouse right click on any selected atom, then browse the contextual menu that pops up to "<code>Edit as New Project</code>", then select "<code>All Selected Atom(s)/Bond(s)</code>"<br />
</p>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/edit_as_new.png" style="width:8cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/new_proj.png" style="width:8cm" alt="image" /></td>
</tr>
</tbody>
</table>
<p><br />
This will create a new <span><strong>atomes</strong></span> project that will immediately be inserted in the program’s workspace, and the corresponding 3D window will appear.<br />
This new model contains all atoms involved in King’s rings of size 6 selected previously in the disordered SiO<span class="math inline">\(_2\)</span> model.</p>
