<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>This interface allows to search for, and move randomly, atom(s) or group of atom(s), selection target(s) appearing in the table bellow. Also note that, quite conveniently, "<code>All selected atoms</code>" are by default targets of the action(s) to be performed.<br />
To work on water molecules set the search parameters as follow:</p>
<ul>
<li><p>"<code>For</code>": use "<code>Group of atomes: all</code>" to work on group of atoms, and not atom(s) individually, and to display a single interactor for all object(s) instead of a list detailed list.</p></li>
<li><p>"<code>Filter</code>": use "<code>Partial coordination</code>", to display a list of partial coordination(s) matching previously set criteria.</p></li>
</ul>
<p>Then selected to "<code>Rotate</code>" all "<code>O[H<sub>2</sub>]</code>" coordination spheres, that is all water molecules, set a maximum Mean Square Displacement by adjusting the corresponding parameter, and if required specify how many times the process is to be repeated.<br />
<img src="/atomes-tuto/img/tuto-10/007-random.png" style="width:15cm" alt="image" /></p>
