<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The following regroups tutorials to help user discover the <span><strong>atomes</strong></span> program.<br />
Tutorials cover many aspects of <span><strong>atomes</strong></span> capabilities:</p>
<ul>
<li><p>Importing atomic coordinates - see [<a href="#tuto-1" data-reference-type="ref" data-reference="tuto-1">[tuto-1]</a>]</p></li>
<li><p>Opening <span><strong>atomes</strong></span> project and workspace file(s) - see [<a href="#tuto-2" data-reference-type="ref" data-reference="tuto-2">[tuto-2]</a>]</p></li>
<li><p>Evaluating and comparing physico-chemical properties - see [<a href="#tuto-3" data-reference-type="ref" data-reference="tuto-3">[tuto-3]</a>]</p></li>
<li><p>Visualizing clone(s) - see [<a href="#tuto-4" data-reference-type="ref" data-reference="tuto-4">[tuto-4]</a>]</p></li>
<li><p>Visualizing coordination polyhedra - see [<a href="#tuto-5" data-reference-type="ref" data-reference="tuto-5">[tuto-5]</a>]</p></li>
<li><p>Using the cell edition utility - see [<a href="#tuto-6" data-reference-type="ref" data-reference="tuto-6">[tuto-6]</a>]</p></li>
<li><p>Using the model edition utility - see [<a href="#tuto-7" data-reference-type="ref" data-reference="tuto-7">[tuto-7]</a>]</p></li>
<li><p>Using the crystal builder - see [<a href="#tuto-8" data-reference-type="ref" data-reference="tuto-8">[tuto-8]</a>]</p></li>
<li><p>Getting information on selected structural features: g(r) in <span><em><span>g</span></em></span>-SiO<span class="math inline">\(_2\)</span> - see [<a href="/atomes-tuto/chap-2/" data-reference-type="ref" data-reference="tuto-9">2</a>]</p></li>
<li><p>Building a crystal, then creating and passivating a surface - see [<a href="/atomes-tuto/chap-3/" data-reference-type="ref" data-reference="tuto-10">3</a>]</p></li>
</ul>
