<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>This documents regroups tutorials to help user discover the capabilities of the <span><strong>atomes</strong></span> program.<br />
Tutorials cover many aspects of <span><strong>atomes</strong></span> capabilities:</p>
<ul>
<li><p>Getting information on selected structural features: g(r) in <span><em><span>g</span></em></span>-SiO<span class="math inline">\(_2\)</span>.</p></li>
<li><p>Building a crystal, then creating and passivating a surface.</p></li>
</ul>
