<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>Newly inserted water molecules, under selection, appear in light blue. If you rotate to model box to face right, water molecules appear perfectly aligned. To create disorder open the "<code>Random Move</code>" tab of the "<code>Model Edition</code>" dialog: "<code>Tools -&gt; Edit -&gt; Atoms -&gt; Random Move</code>"<br />
<img src="/atomes-tuto/img/tuto-2/006-roran.png" style="width:15cm" alt="image" /></p>
