<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>When the calculation is completed, close the dialog, and note that the content of the "<code>Toolboxes</code>" dialog is updated, the results of the calculation being available:<br />
</p>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/tb-001.png" style="width:5cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/tb-002.png" style="width:5cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/tb-003.png" style="width:5cm" alt="image" /></td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/gr.png" style="width:10cm" alt="image" /></td>
<td style="text-align: center;">&swArr;</td>
</tr>
</tbody>
</table>
<p><br />
In the "<code>Toolboxes</code>" dialog open the result of the calculation to display the g(r) of the active project, in this case the new model created from the atom selection.</p>
