<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>When the calculation is completed, close the dialog, and note that the content of the "<code>Toolboxes</code>" dialog is updated, the results of the calculation being available:<br />
</p>
<div id="tuto9-1234">
<div align="center">
<figure>
<img src="/atomes-tuto/img/tuto-9/tb-1234-w.png" id="tuto9-1234" style="width:16.5cm" />
<br /></figure>
</div>
</div>
<p><br />
In the "<code>Toolboxes</code>" dialog open the result of the calculation to display the g(r) of the active project, in this case the new model created from the atom selection.</p>
