<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>Go back to the 3D window of the <span class="math inline">\(g\)</span>-SiO<span class="math inline">\(_2\)</span> model, for clarity purpose change color map to standard chemical species: from the "<code>OpenGL -&gt; Color Scheme(s)</code>" menu, or press <kbd>a</kbd> as many times as required. Then open the "<code>Environments configuration</code>" window: from the "Chemistry" menu or press <kbd>Ctrl</kbd>+<kbd>e</kbd>, and open the tab labelled "<code>King’s ring(s)[KR]</code>".<br />
</p>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/map-env.png" style="width:9cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
<td style="text-align: center;"><img src="/atomes-tuto/img/tuto-1/gSio2-003.png" style="width:5cm" alt="image" /></td>
</tr>
</tbody>
</table>
<p><br />
This tab provides interactors with King’s ring statistics calculation results: color of the ring’s polyhedra, and then options to show/hide, label/unlabel, or select/unselect atom(s) involved in any ring(s) of the corresponding size.</p>
