<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>From the main interface open the "<code>Edit</code>" menu and select "<code>Box and Periodicity</code>" to reproduce the periodicity of the initial model describing properly the simulation box (a <span class="math inline">\(=\)</span> b <span class="math inline">\(=\)</span> c <span class="math inline">\(= 35.6621\)</span> Å, <span class="math inline">\(\alpha = \beta = \gamma = 90~^{\circ}\)</span>, and be sure to use Periodic Boundary Conditions), then apply changes.<br />
<img src="/atomes-tuto/img/tuto-9/perio.png" style="width:15cm" alt="image" /><br />
The new model now uses periodic boundary conditions, if required the box can be displayed in the 3D window using the corresponding menu button: "<code>Model -&gt; Box -&gt; Show/Hide</code>".</p>
