<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>Create a new empty project: "<code>Workspace -&gt; Project -&gt; New</code>" or press <kbd>Ctrl</kbd>+<kbd>n</kbd>, then open the crystal builder for the new, and empty, 3D window: "<code>Tools -&gt; Edit -&gt; Crystal Builder</code>"<br />
<img src="/atomes-tuto/img/tuto-10/002-cbuild.png" style="width:14cm" alt="image" /></p>
